<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %>></title>
</head>
<body>
  <%- include('partials/sidebar_nav.ejs') %>

  <main>
    <% if (locals.categories) { %>
      <ul>
        <% categories.forEach((category) => { %>
          <li><%= category.name %></li>
        <% }) %>
      </ul>
    <% } %>
  </main>
</body>
</html>