* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-size: 1.15rem;
}

/*
  --- Sidebar navigation
*/

.sidebar_nav {
  height: 100vh;
  min-width: 220px;
  padding: 1.5rem;
}

.sidebar_nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  border-right: 1px solid rgb(182, 182, 182);
  height: 100%;
}

.sidebar_nav a {
  display: inline-block;
  text-decoration: none;
  width: calc(100% - 1.5rem);
  padding: 4px;  
}

.sidebar_nav a:visited {
  color: black;
}

.sidebar_nav a:hover {
  color: black;
  background-color: rgba(121, 194, 253, 0.952);
}

/*
  --- Main
*/

main {
  flex: 1;
  padding: 2rem;
}

main ul {
  list-style: none;
  margin: .5rem 1rem;
}