* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-size: 1.15rem;
}

/*
  --- Sidebar navigation
*/

.sidebar_nav {
  height: 100vh;
  min-width: 220px;
  padding: 1.5rem;
}

.sidebar_nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  border-right: 1px solid rgb(182, 182, 182);
  height: 100%;
}

.sidebar_nav a {
  display: inline-block;
  text-decoration: none;
  width: calc(100% - 1.5rem);
  padding: 4px;  
}

.sidebar_nav a:visited {
  color: black;
}

.sidebar_nav a:hover {
  color: black;
  background-color: rgba(235, 235, 235, 0.952);
}

/*
  --- Main
*/

main {
  flex: 1;
  padding: 2rem;
}

main ul {
  list-style: none;
  margin: .5rem 1rem;
}

/*
  --- Form
*/

.form_row {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form_row > input,
.form_row > textarea,
.form_row > select {
  padding: 2px;
}

.form_row > textarea {
  min-height: 60px;
  resize: none;
}

button[type="submit"] {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #dfdfdf;
  cursor: pointer;
  outline: 1px solid black;
}
