* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

/*
  --- Sidebar navigation
*/

.sidebar_nav {
  height: 100vh;
  min-width: 180px;
  padding: 1rem;
}

.sidebar_nav ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
}

.sidebar_nav a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 2px;  
}

.sidebar_nav a:hover {
  background-color: rgb(235, 235, 235);
}

/*
  --- Main
*/

main {
  flex: 1;
  padding: 2rem;
}

main ul {
  list-style: none;
  margin: .5rem 1rem;
}